In [ ]:
import pandas as pd
import numpy as np

from pydataprep.cleaning import handle_missing_values, remove_duplicates

df = pd.DataFrame({'ID': [1, 2, 3, 4], 'Name': ['Pamela', 'Raúl', 'José', 'Ana'], 'Age': [np.nan, 14, 26, 14], 'Sex': [
            'Feminine', 'Masculine', 'Masculine', 'Feminine'], 'City': [np.nan, 'Paris', np.nan, np.nan]})

### Remove all rows with at least one null value

In [ ]:
df1 = handle_missing_values(df, 'drop_rows')

### Remove all columns with al least one null value

In [ ]:
df2 = handle_missing_values(df, 'drop_cols')

### Fill all null values with specified value

In [ ]:
df3 = handle_missing_values(df, 'any_value')

### Replace all null values with the column average

In [ ]:
df_mean = handle_missing_values(df, 'mean')

### Replace all null values with the column median

In [ ]:
df_median = handle_missing_values(df, 'median')

### Replace all null values with the column mode

In [ ]:

df_mode = handle_missing_values(df, 'mode')

### Remove all values rows duplicates

In [ ]:
remove_duplicates(df) # Return "Number of duplicates removed {}"